{% extends 'project/admin_templates/manage_base.html' %}

{% block content %}

{% load static %}

   
    
<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_hod' %}" role="button">+ Add HOD</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                

            <div class="row">

                <div class="col-md-12">
                    
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">HOD Details</h3>
                            <div class="card-tools float-right">
                            <form method="GET">
                            {% csrf_token %}
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="query" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                        
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if hods %}
                                {% for h in hods %}
                                <tr>
                                
                                <td>{{ h.admin.id }}</td>
                                <td>{{ h.admin.first_name }}</td>
                                <td>{{ h.admin.last_name }}</td>
                                <td>{{ h.admin.username }}</td>
                                <td>{{ h.admin.email }}</td>
                                <td>{{ h.department }}</td>
                                <td>{{ h.phone_number }}</td>
                                <td>
                                    <a href="{% url 'edit_hod' h.admin.id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_hod' h.admin.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <h4 style="color:red">HOD not available. Try again !!!</h4>
                                {% endif %}
                              </tbody>  
                        
                            </table>
                        </div>
                        
                        </div>
                    

                </div>
            </div>

        </div>
      </section>

  {% endblock  %}