{% extends 'project/admin_templates/manage_base.html' %}

{% block content %}

{% load static %}



<section class="content">
        <h2 >Manage Project</h2>
        <hr>
        <div class="container-fluid">
            
            <a class="btn btn-primary" href="{% url 'add_project' %}" role="button">+ Add Project</a> <br/>&nbsp;
            
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">

                <div class="col-md-12">
                    
                    <div class="card">
                        <div class="card-header">
                            <h3>Project Details</h3>

                            <div class="card-tools float-right">
                            <form method="GET">
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="query" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                        
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Project ID</th>
                                <th>Project Name</th>
                                <th>Description</th>
                                <th>Report</th>
                                <th>Status</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if projects %}
                                {% for p in projects %}
                                <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.p_id }}</td>
                                <td>{{ p.title }}</td>
                                <td>{{ p.description }}</td>
                                <td>{{ p.report }}</td>
                                <td>{{ p.status }}</td>
                                
                                <td>
                                    <a href="{% url 'edit_project' p.p_id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_project' p.p_id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                                {% else %}
                                <h4 style="color:red;"> Project not available. Try again !!!</h4>
                                {% endif %}
                            </tbody>
                            </table>
                        </div>
                        
                        </div>
                    

                </div>
            </div>

        </div>
      </section>

  {% endblock content %}